@{
    ViewData["Title"] = "Home Page";
}

</header>
<body>
    <div class="text-center" style="margin-top: 10%">
        <h1 class="display-4">Grades App</h1>
        <p><a>Your digital gradebook</a></p>

    </div>

</body>

