@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="align-content-center" style="margin-top: 15%">
    <p>
        Политика за поверителност

        Дата на последна актуализация: 23.02.2025

        Настоящата Политика за поверителност описва как Grades App  събира, използва и защитава личната информация на потребителите.



        1. Събиране на информация

        Ние събираме следните категории информация:

        - Лични данни: Имена, имейл адреси, потребителски акаунти и роля в системата (учител, ученик, администратор).
        - Академични данни: Оценки, предмети, класове и други учебни данни.
        - Техническа информация: IP адрес, тип устройство, използван браузър и други технически данни, свързани с използването на платформата.



        2. Използване на информацията

        Събраните данни се използват за:

        - Управление на потребителските акаунти и предоставяне на достъп до системата.
        - Записване и обработка на оценки и друга академична информация.
        - Подобряване на функционалността и сигурността на платформата.
        - Комуникация с потребителите относно важни промени или известия.



        3. Споделяне на информация

        Вашите данни не се споделят с трети страни, освен в следните случаи:

        - Ако това се изисква от закона.
        - С изричното Ви съгласие.
        - За защита на правата и сигурността на платформата и нейните потребители.



        4. Сигурност на данните

        Ние прилагаме подходящи мерки за защита на личната информация, включително:

        - Шифроване на чувствителни данни.
        - Ограничен достъп до базата данни само за оторизирани потребители.
        - Редовни проверки за сигурност и защита от злонамерени атаки.



        5. Права на потребителите

        Вие имате следните права:

        - Право на достъп: Можете да поискате копие от съхраняваните Ви данни.
        - Право на коригиране: Ако има грешка в данните Ви, можете да поискате корекция.
        - Право на изтриване: Имате право да поискате изтриване на личната Ви информация, освен ако не е задължителна за функционирането на системата.
        - Право на възражение: Можете да възразите срещу обработката на данните Ви при определени обстоятелства.



        6. Бисквитки и проследяване

        Нашата система може да използва "бисквитки" за подобряване на потребителското изживяване. Можете да настроите браузъра си да отказва или изтрива бисквитките, но това може да ограничи някои функции на платформата.



        7. Промени в политиката за поверителност

        Запазваме си правото да актуализираме тази политика. Всички промени ще бъдат публикувани в платформата и ще влязат в сила незабавно след публикуването им.



        8. Контакт

        Ако имате въпроси относно тази Политика за поверителност, можете да се свържете с нас на nistostoa380@gmail.com
    </p>
</div>

